:root {
    --black: #202223;
    --white: #ffffff;
    --blue: #238def;
    --blue-light: #ebf2fa;
    --blue-darker: #137ddf;
    --blue-dark: #1270c8;
    --gray: #717c89;
    --gray-light: #f2f3f5;
    --gray-dark: #575757;

    --font-text-14: 14px;
    --font-text-16: 16px;
    --font-text-18: 18px;
    --font-text-20: 20px;
    --font-text-26: 26px;
    --font-text-48: 48px;
    --font-text-72: 72px;

    --font-lh-20: 20px;
    --font-lh-24: 24px;
    --font-lh-26: 26px;
    --font-lh-28: 28px;
    --font-lh-32: 32px;
    --font-lh-36: 36px;
    --font-lh-56: 56px;
    --font-lh-86: 86px;

    --gap-padding: 20px;
    --heading-text-align: center;

    @media (min-width: 1024px) {
        --gap-padding: 40px;
        --heading-text-align: left;
    }
}
