doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title AI Works
        meta(name="description" content="")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
    body
        include includes/header.pug
        main.main
            //- экран "Напиши курсовую с нейросетью за 5 минут"
            include includes/hero-work.pug

            //- Экран "Решай задачи с нейросетью за 5 минут"
            //- include includes/hero-task.pug

            include includes/steps.pug
            include includes/solution.pug
            include includes/tariffs.pug
            include includes/works.pug
            include includes/listings.pug
            include includes/seo.pug
        include includes/footer.pug

        //- include includes/modal-login-task.pug
        //- include includes/modal-signup-task.pug
        //- include includes/modal-login-work.pug
        //- include includes/modal-signup-work.pug

        script(src="js/main.min.js" type="module")