doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        meta(name="description" content="")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/main.min.css")
    body
        header.header
            div.header__inner.content-wrapper
                img(class="header__logo" src="assets/img/logo.svg" alt="Логотип")
                div.header__auth
                    button(class="header__login button button--clear text text--m" type="button") Войти<span>&nbsp;в аккаунт</span>
                    button(class="header__signup button button--blue text text--m" type="button") Зарегистрироваться
        main.main
            //- экран "Напиши курсовую с нейросетью за 5 минут"
            section.hero.hero--work
                .hero__inner.content-wrapper
                    h1.hero__heading.heading.heading--l Напиши курсовую <br> с&nbsp;нейросетью <mark>за&nbsp;5&nbsp;минут</mark>
                    p.hero__text.text.text--l Генерируй содержание, получай готовую работу и&nbsp;редактируй онлайн!

        footer.footer
