section.steps
    .steps__inner.content-wrapper
        h2.steps__heading.heading.heading--m Написание курсовой&nbsp;&mdash; это просто!
        ul.steps__list(role="list") 
            li.steps__item
                img(src="@img/step-1.png" role="presentation")
                p.text.text--xl Напиши тему работы и нажми «Сгенерировать»
            li.steps__item
                img(src="@img/step-2.png" role="presentation")
                p.text.text--xl Смотри содержание, регистрируйся и покупай готовую работу
            li.steps__item
                img(src="@img/step-3.png" role="presentation")
                p.text.text--xl Редактируй онлайн, сохраняй в Word, отправляй преподавателям
        button.steps__button.button.button--blue.text.text--m(type="button") Сгенерировать работу