header.header
    .header__inner.content-wrapper
        img.header__logo(src="assets/img/logo.svg" alt="Логотип")
        .header__auth
            button.header__login.button.button--clear.text.text--m(type="button") Войти<span>&nbsp;в аккаунт</span>
            button.header__signup.button.button--blue.text.text--m(type="button") Зарегистрироваться