section.hero.hero-task
    .hero__inner.content-wrapper
        h1.hero__heading.heading.heading--l Решай задачи <br> с&nbsp;нейросетью <mark>за&nbsp;5&nbsp;минут</mark>
        p.hero__text.text.text--l Трудное задание? Просто загрузи фото или пропиши задание текстом и&nbsp;получи ответ!

        .hero-task__content
            .hero-task__query
                label.hero-task__query-label.text.text--m(for="query-input") Твоя задача
                form.hero-task__form(action="#" method="post")
                    .hero-task__form-box
                        textarea.hero-task__textarea.text.text--m.text--light(id="query-input" name="query" placeholder="Напиши подробно задачу")
                        label.hero-task__file-label.hero-task__file-label--mobile.text.text--m(for="file") 
                            img(src="assets/img/file-img.svg" role="presentation")    
                            span Или загрузи фото
                        label.hero-task__file-label.hero-task__file-label--desktop
                            img(src="assets/img/file-img.svg" role="presentation") 
                            span.text.text--m.text--light Перетащи файл&nbsp;<label class="text text--m" for="file">или загрузи с компьютера</label>
                        input.hero-task__file-input.visually-hidden(type="file" id="file" name="file")
                    button.hero-task__button.button.button--blue(type="button") Решить задачу
                .hero-task__counter.text.text--m
                    | У тебя&nbsp;<span data-js="attempts">8</span>&nbsp;генераций
                    .hero-task__tooltip.tooltip
                        img(src="assets/img/question.svg")
                        span Тут будет какая-то подсказка
            .hero-task__result
                .hero-task__preview-text.text.text--m(data-js="previewText") Решение задачи будет здесь
                //- .hero-task__result-text(data-js="renderedResult") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio illum eligendi recusandae, voluptates, pariatur repellendus sed reprehenderit nemo quisquam ad adipisci ipsam saepe nulla ducimus delectus dolor dicta amet sapiente atque magni cumque! Maxime architecto aut nesciunt perspiciatis repudiandae nam suscipit? Delectus voluptas, earum sint libero perferendis dolores inventore molestiae exercitationem iure maiores nam cumque quia molestias aspernatur quisquam saepe repellat ullam consequatur? Veniam quisquam possimus itaque quae laborum hic, adipisci, ipsum eum, consequuntur maiores deleniti repellendus dicta voluptatibus! Laudantium iste et minima enim laborum, sit id eligendi temporibus! Corporis, ipsum dolore sit tenetur dolorem quam ex laudantium assumenda fugit voluptatem cumque facere tempore delectus accusamus iure magni porro amet dolores rem ratione eaque. Dicta obcaecati, quia rem, beatae distinctio velit neque earum nemo tenetur aliquam cumque est eos quasi vel adipisci ipsum culpa assumenda reprehenderit! Aliquam optio dolores rem repellat ullam itaque eum eaque eius odit quia, minima porro doloribus. Culpa sequi nihil quam quisquam molestiae eaque voluptates. Quas explicabo recusandae sunt possimus quidem pariatur tenetur excepturi amet veritatis facere tempora et hic repellendus temporibus, vitae, tempore consequatur. Illum, eaque. Perspiciatis a quod similique praesentium placeat facere quia dolorum eum fugit iste? Aliquid enim iure deleniti autem tempora fugit, hic, modi nisi culpa tenetur dolore, doloribus laboriosam commodi sint reiciendis dolor ducimus consequatur cupiditate! Quisquam officiis inventore mollitia reiciendis est vitae aperiam doloremque perferendis explicabo dicta quam assumenda saepe, perspiciatis vel tempore debitis libero consequatur quod rem consequuntur nostrum fugiat minus illum iure. Fugit corrupti placeat esse ut beatae perspiciatis iure est provident. Alias eos accusamus veritatis perspiciatis vel excepturi fugiat reprehenderit, adipisci, assumenda, itaque iusto. Iure quos, porro, voluptates adipisci deserunt nemo sint excepturi eius obcaecati soluta quo distinctio maxime. Non porro voluptas quia, dignissimos, quae molestias sequi, mollitia quam vero dolores illum. Eum molestias et ratione! Eius sed perferendis mollitia animi inventore voluptatum? Dignissimos, ducimus perspiciatis. Nisi atque, velit inventore assumenda tempora, nulla dolore maiores vero quae animi eum ipsam iusto ipsa minima consequatur expedita alias! Eum dolores debitis, doloribus id fugit nobis qui harum labore sequi laborum tempora. Fugit qui possimus, eius explicabo illo culpa ratione, officiis dolorum sunt veniam quas neque ducimus cum libero saepe voluptas modi recusandae impedit dolorem tempore quibusdam officia? Ex doloremque debitis, totam placeat deleniti fuga animi libero expedita, tempora dolorem omnis ipsam laudantium molestiae! Hic quae quo soluta aperiam exercitationem ratione quam corrupti! Vitae cupiditate facere ipsam minus nulla voluptatibus excepturi rerum! Sequi expedita recusandae aliquid natus, repellendus error. Consequatur ipsa nostrum culpa qui libero, consectetur at maxime fugiat dolore aspernatur cumque soluta. Fugit veniam harum eos quibusdam pariatur id exercitationem impedit. Veniam velit iure repellendus blanditiis sapiente cumque. Repellendus iure vero unde illo ducimus dolores sit reprehenderit maiores ex, numquam incidunt commodi sunt eveniet, inventore praesentium perferendis! Accusamus dolor delectus nisi nam quo illum accusantium itaque tempora unde dignissimos vitae quidem commodi ab optio, nemo cumque aperiam quisquam aut numquam eius. Ut, maiores omnis nihil eaque expedita nemo? Necessitatibus quo earum omnis quae nostrum reprehenderit adipisci facere iste aperiam.
                //- .loader-box(data-js="loader")
                //-     .loader-box__loader
                //-     p.loader-box__heading.text.text--m.text--bold Нейросеть решает твою задачу
                //-     p.loader-box__text.text.text--m Это займет всего пару минут
                //- .paywall.paywall--task(data-js="paywall")
                //-     p.text.text--m Авторизуйся и&nbsp;оплати подписку, чтобы получить решение
                //-     button.paywall__button.button.button--blue(data-js="openLogin") Авторизоваться<span>&nbsp;и&nbsp;оплатить</span>