section.solution
    .solution__inner.content-wrapper
        .solution__content
            .solution__heading-text.text.text--xl Подробная инструкция
            h2.solution__heading.heading.heading--m Как написать курсовую работу с&nbsp;нейросетью
            //- тут в дальнейшем будет видео
            img.solution__video-plug(src="assets/img/solution_video.png")
            ol.solution__list
                li.solution__item.text.text--m.text--light Жили-были в далеком лесу три маленьких енота: Рыжик, Серый и Пушистик. Они были лучшими друзьями и всегда веселились вместе.
                li.solution__item.text.text--m.text--light Однажды, когда они гуляли по лесу, они обнаружили загадочный ларец. Изнутри вылетела волшебная фея.
                li.solution__item.text.text--m.text--light Рыжик сразу решился и загадал, чтобы весь лес был полон вкусных орехов.
                li.solution__item.text.text--m.text--light Серый задумался и загадал, чтобы у всех животных в лесу было достаточно еды и тепла.
            button.solution__button.button.button--blue.text.text--m(type="button") Сгенерировать работу