.button {
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 352px;
    width: 100%;
    padding: 12px 22px;
    border: 0;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;

    @media (min-width: 1024px) {
        padding: 14px 20px;
    }

    &--blue {
        color: var(--white);
        background-color: var(--blue);

        &:hover {
            background-color: var(--blue-darker);
        }

        &:active {
            background-color: var(--blue-dark);
        }
    }

    &--clear {
        padding: 0;
        color: var(--blue);

        &:hover {
            color: var(--blue-darker);
        }

        &:active {
            color: var(--blue-dark);
        }
    }

    &--white {
        color: var(--blue);
        background-color: var(--white);

        &:hover {
            background-color: var(--blue-light);
        }

        &:active {
            background-color: var(--blue-ligth);
        }
    }
}
