.seo__inner {
    padding-top: var(--gap-padding);
    padding-bottom: var(--gap-padding);

    h2 {
        margin-top: 0;
        margin-bottom: 16px;

        font-size: var(--font-text-26);
        line-height: var(--font-lh-36);
        font-weight: 600;

        @media (min-width: 1024px) {
            font-size: var(--font-text-48);
            line-height: var(--font-lh-56);
        }

        &:not(:first-child) {
            margin-top: 40px;
        }
    }

    p {
        margin-top: 6px;
        margin-bottom: 12px;

        font-size: var(--font-text-16);
        line-height: var(--font-lh-24);
        font-weight: 400;

        @media (min-width: 1024px) {
            font-size: var(--font-text-18);
            line-height: var(--font-lh-28);
        }
    }

    ul,
    ol {
        margin-bottom: 16px;
        padding-left: 0;

        @media (min-width: 1024px) {
            margin-bottom: 24px;
        }
    }

    li {
        margin: 0 0 12px 18px;

        font-size: var(--font-text-16);
        line-height: var(--font-lh-24);

        @media (min-width: 1024px) {
            margin-left: 20px;

            font-size: var(--font-text-18);
            line-height: var(--font-lh-28);
        }
    }
}
