.steps__inner {
    display: grid;
    justify-items: center;
    padding-top: var(--gap-padding);
    padding-bottom: var(--gap-padding);

    @media (min-width: 1024px) {
        justify-items: normal;
    }
}

.steps__heading {
    margin-bottom: 28px;
    text-align: var(--heading-text-align);

    @media (min-width: 1024px) {
        margin-bottom: 48px;
    }
}

.steps__list {
    display: grid;
    gap: 28px;
    margin: 0 0 28px 0;
    padding-left: 0;
    list-style: none;

    @media (min-width: 1024px) {
        grid-auto-flow: column;
        justify-content: space-between;
        gap: 64px;
        margin-bottom: 40px;
    }
}

.steps__item {
    display: grid;
    justify-items: center;
    gap: 16px;
    max-width: 328px;

    @media (min-width: 1024px) {
        gap: 24px;
        max-width: 373px;
    }

    img {
        display: block;
        width: 100%;
        pointer-events: none;
    }

    p {
        text-align: center;

        @media (min-width: 1024px) {
            text-align: left;
        }
    }
}
